name: Deployment

on:
  push: 
    branches: 
      - cd-workflows


jobs: 
  deploy:
    runs-on: ubuntu-latest
    environment: Itranscoder Env vars

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy to AWS Lambda 
        run: |
          cd apps/serverless
          export AWS_ACCESS_KEY_ID=${{ secrets.AWS_USER_ACCESS_KEY }}
          export AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_USER_SECRET_KEY }}
          export AWS_DEFAULT_REGION=us-east-1
          npm install
          npm install -g aws-cdk
          cdk deploy

    

