name: Frontend-Deployment

on:
  push:
    branches:
      - main
    paths:
      - 'apps/web/**'
      - '.github/workflows/deploy-frontend.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Itranscoder Env vars

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install dependencies & build
        run: |
          cd apps/web
          npm install -g pnpm
          pnpm install
          pnpm run build

      - name: Upload to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.S3_WEB_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_USER_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_USER_SECRET_KEY }}
          AWS_REGION: ${{ secrets.SQS_REGION }}
          SOURCE_DIR: apps/web/dist
          CACHE_CONTROL: "max-age=3600"

      - name: Invalidate CloudFront cache
        uses: chetan/invalidate-cloudfront-action@v2
        with:
          distribution-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
          paths: "/*"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_USER_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_USER_SECRET_KEY }}
          AWS_REGION: ${{ secrets.SQS_REGION }}
