name: Backned-Deployment

on:
  push: 
    branches: 
      - main

jobs: 
  deploy:
    runs-on: ubuntu-latest
    environment: Itranscoder Env vars

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: ikrambagban/transcoder-backend:${{ github.sha }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu  
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ikrambagban/transcoder-backend:${{ github.sha }}
            docker run -d \
              -e AWS_USER_ACCESS_KEY=${{secrets.AWS_USER_ACCESS_KEY}} \
              -e AWS_USER_SECRET_KEY=${{secrets.AWS_USER_SECRET_KEY}} \
              -e SQS_QUEUE_URL=${{secrets.SQS_QUEUE_URL}} \
              -e SQS_REGION=${{secrets.SQS_REGION}} \
              -e ECS_TASK_DEFINITION=${{secrets.ECS_TASK_DEFINITION}} \
              -e ECS_CLUSTER=${{secrets.ECS_CLUSTER}} \
              -e CDN_URL=${{secrets.CDN_URL}} \
              -e REDIS_HOST=${{secrets.REDIS_HOST}} \
              -e REDIS_PASSWORD=${{secrets.REDIS_PASSWORD}} \
              -e REDIS_PORT=${{secrets.REDIS_PORT}} \
            ikrambagban/transcoder-backend:${{ github.sha }}

