name: Deployment

on:
  push: 
    branches: 
      - main

jobs: 
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          script: echo ikrambagban
          username: ikrambagban
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile.backend
          push: true
          tags: ikrambagban/transcoder-backend:${{ github.sha }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu  
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ikrambagban/transcoder-backend:${{ github.sha }}
            docker run -d ikrambagban/transcoder-backend:${{ github.sha }}

